<div class="contact_form">
  <form name="contact" method="POST" action="message_sent" netlify>
    <div>
      <label for="name">Name:</label>
      <input
        autocomplete="name"
        autofocus
        name="name"
        placeholder="Sam"
        required
        type="text"
      />
    </div>

    <div>
      <label for="email">Email:</label>
      <input
        autocomplete="email"
        name="email"
        placeholder="sam@example.com"
        required
        type="email"
      />
    </div>

    <div>
      <label for="company">Company:</label>
      <input
        autocomplete="organization"
        name="company"
        placeholder="(optional)"
        type="text"
      />
    </div>

    <div>
      <label for="message">Message:</label>
      <textarea
        name="message"
        rows="8"
        cols="28"
        placeholder="Hello!"
        required
        spellcheck="true"
      ></textarea>
    </div>

    <div class="contact_form__send">
      <button type="submit">Send</button>
    </div>

<!--     <input -->
<!--       type="hidden" -->
<!--       name="redirect_to" -->
<!--       value="https://64b.it/say_hi/message_sent" -->
<!--     /> -->
  </form>
</div>
