---
type: pages
permalink: /
---
<div id="title">
  <h1 id="greeting__phrase">Hello!</h1>
  <p><small id="greeting__language"></small></p>
</div>
<div class="contents">
  <p>
    Hello, my name is Pierre and I currently live in {{
    site.data.personal_info.current_city }}. I help businesses become more
    profitable using custom
    built software solutions: <a href="/our-approach">here is how I work</a>. 
  </p>
  <p>
    In the past, I have worked with companies such as {{
    site.data.personal_info.past_companies | array_to_sentence_string }} using
    various technologies including {{ site.data.personal_info.technologies |
    array_to_sentence_string }}.
  </p>
  {% include consulting/new_clients.html available=true availability='Q1 2019' %}
  {% include coffee/meet.html available=true %}
  <p>
    I enjoy repairing bicycles, traveling the world, scuba diving, Legos,
    and vegan food. I can speak French and English fluently.
  </p>
  <p>
    You can find me online on {% include link_list/list.html
    entries=site.data.online_profiles %}.  My public key is available <a
    href="{{ site.data.personal_info.public_key_location }}">here</a>, and I
    love to receive PGP encrypted email.
  </p>
</div>
<script src="{{ 'assets/js/greetings.js' | relative_url }}"></script>
