---
type: pages
permalink: /
---

<div id="title">
  <h1 id="greeting__phrase">Hello!</h1>
  <p><small id="greeting__language"></small></p>
</div>
<div class="contents">
  <p>
    Hello, my name is Pierre. I currently live in {{
    site.data.personal_info.current_location }}<span id="weather"></span>.
  </p>
  <p>
    I help businesses and technical teams lower their maintenance costs, iterate
    faster, and build software more efficiently through process adjustments and
    automation.
  </p>
  {% include consulting/new_clients.html available=false availability='Q1 2022'
  %} {% include coffee/meet.html available=false %}
  <p>
    To see some of the code I wrote, have a look at my
    <a href="{% link showcase/index.html %}"
      >featured projects and open source contributions</a
    >.
  </p>
  {% include blog/frontpage.html %}
  <p>
    I enjoy repairing bicycles, building e-bikes, traveling the world, scuba
    diving, mushroom hunting, and vegan food. I can speak French and English
    fluently.
  </p>
  <p>
    I also maintain the <a href="https://github.com/maid/maid">Maid rubygem</a>,
    along with its original author
    <a href="http://www.benjaminoakes.com">Ben Oakes</a>
  </p>
  <p>
    You can find me online on {% include link_list/list.html
    entries=site.data.online_profiles %}, or
    <a href="{% link say_hi/index.html %}">send me a message</a>.
  </p>
</div>
<script src="{{ 'assets/js/greetings.js' | relative_url }}"></script>
<script src="{{ 'assets/js/weather.js' | relative_url }}"></script>
