---
type: pages
permalink: /contact/
---
<div id="title">
  <h1>Get in touch</h1>
  <p id="back">
    <small>{% include back.html %}</small>
  </p>
</div>
<div class="contents">
  <p>If you need advice or help with your business project, tell me about what
    you're trying to achieve, what is currently working, and what isn't. I'm
    happy to advise over email at no cost for smaller issues, or for a fee for
    more complex and longer projects.</p>
  <p>If you want to meet for an informational interview, tell me a bit about
    your current experience, what can I help with, and your availabilities. I
    usually meet for 30–45 minutes over coffee anywhere downtown Toronto.</p>
  <p>I read every message, and usually respond within 48 hours.</p>

  {% include contact/form.html %}
</div>
