<div id="blog-footer">
  {% if include.is_post %}
  <h1>Thanks for reading!</h1>
  {% endif %}
  <p>
    I help teams produce better software and reduce waste with less stress
    using best practices and process improvements.
  </p>
  <p>
    Questions, comments, need help with something, just want to say hi? I'd
    love to hear from you: <a href={% link say_hi/ %}>Send me a
      message</a>!
  </p>
  <div id="mailinglist-subscribe">
    <p>
      Want more of this kind of content? Subscribe to my low volume mailing
      list and receive fresh content, typically once a month.
    </p>
    <p>Unsubscribe any time, I promise I won't spam you or sell your data.</p>
    {% include mailing_list/subscribe.html %}
  </div>
</div>
