---
---
.contents {
  // the original font size is a tad too small
  font-size: 125%;
}

footer {
  // values are based on the ones used in #id for the midnight theme
  margin: 50px 0 0 0;
  padding: 5px 0 0 0;
}
