---
type: pages
permalink: /say_hi/
title: Contact
description: Get in touch with me, for advice, coffee, or chatting.
---

<div id="title">
  <h1>Get in touch</h1>
  {% include back.html %}
</div>
<div class="contents">
  <p>
    If you need advice or help with your business, tell me about what you'd like
    to achieve, what is currently working, and what isn't.
  </p>
  {% include coffee/details.html available=false %}
  <p>I read every message, and typically respond within a week.</p>

  {% include contact/form.html %}
</div>
