---
type: pages
permalink: /showcase/
---
<div id="title">
  <h1>Select projects and open source contributions</h1>
  <p id="back">
    <small>{% include back.html %}</small>
  </p>
</div>
<div class="contents">
  <ul>
    {% for project in site.data.showcase.projects %}
    <li id="project">
      <h2>{{ project.name }} ({{ project.year }})</h2>
      <h3>{{ project.technologies }}</h3> 
      <h4>
        <a href="https://{{ project.repo }}">{{ project.repo }}</a>
      </h4>
      <p>{{ project.description }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
