---
layout: default
title: Blog
description: Blog posts about building greener, more robust, more maintainable
  software.
---

<div id="title" class="blog">
  <h1>Blog</h1>
  {% include back.html %}
</div>
<div class="contents blog">
  <div id="posts-list">
    <h2>All posts</h2>
    {% if site.posts.size == 0 %}
    <p>Nothing published yet!</p>
    {% else %}

    <ul>
      {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% include blog/footer.html is_post=false %}
</div>
