---
type: pages
permalink: /recruiters/
---
<div id="title">
  <h1>Intro call</h1>
  <p id="back">
    <small>{% include back.html %}</small>
  </p>
</div>
<div class="contents">
  <p>
    Hello, and thank you for your interest.
  </p>
  <p>
    As you can imagine, I am getting a lot of
    messages from recruiters wanting to get on a call to discuss the specifics
    further.
  </p>
  <p>
    Unfortunately, it isn't possible for me to spend 20—30 minutes on calls
    with each recruiter who asks, or I'd be doing nothing else all day.
  </p>
  <p>
    In order to save each of us time and streamline the process, I have
    compiled a list of questions typically asked during these calls in the FAQ
    below.
  </p>
  <p class="bold">
    Please make sure to read this page to the end, the section after the FAQ
    lists <a href="#required_info">the required information to include in your
    reply</a>.
  </p>

  <div class="faq" id="faq_top">
    <h2>FAQ</h2>
    {% for entry in site.data.recruiter_page.faq %}
    <p class="q_list"><a href="#q{{ forloop.index0 }}">{{ entry.q }}</a></p>
    {% endfor %}

    {% for entry in site.data.recruiter_page.faq %}
    <div class="qa">
      <div id="q{{ forloop.index0 }}">{{ entry.q }}</div>
      <div>{{ entry.a }}</div>
      <a href="#faq_top">Back to the top</a>
    </div>
    {% endfor %}
  </div>

  <div id="required_info">
    <h2>Required information in your reply</h2>
    <p>
      If you think your role might be a good match, please reply by email and
      include <span class="underline">all</span> of the following information:
    </p>
    <ul>
      {% for info in site.data.recruiter_page.required_info %}
      <li>{{ info }}</li>
      {% endfor %}
    </ul>
  </div>
  <p>Once again, thank you for your interest. I am looking forward to reading
    your reply if there is a match; good luck in your search otherwise.</p>
</div>
