---
layout: default
---

<div id="title" class="blog">
  <p class="heading">Blog</p>
  <p>
    My thoughts on how to build better, more robust, more maintainable, more
    humane, and greener software.
  </p>
  <p>{% include back.html %}</p>
</div>

<div class="contents blog">
  <h1>{{ page.title }}</h1>
  <p>{% include blog/reading_time.html %}</p>
  <p id="intro">{{ page.intro }}</p>
  {{ content }} {% include blog/footer.html is_post=true %}
  <div class="back">
    <p>
      <small>
        <a href="#title">Back to the top</a>
      </small>
    </p>
    <p>
      <small>
        <a href="{% link blog/index.html %}">Back to the blog's index</a>
      </small>
    </p>
  </div>
</div>
